* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-beth: 'Beth Ellen', cursive;
  --font-spectral: 'Spectral', serif;

  font-size: 62.5%;
}

body {
  height: 100vh;
  text-align: center;
  font-size: 1.6rem;
  background-color: #000000;
  background-image: url(/assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main {
  display: flex;
  flex-direction:column;
  gap: 7.2rem;
  padding-top: 27.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.content h1 {
  font-family: var(--font-beth);
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 12.0rem;
  color: #EBF1FB;
  margin-bottom: 0.4rem;
}

.content span {
  color: #5EEAD4;
}

.content p {
  font-family: var(--font-spectral);
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 3.0rem;
  color: #EBF1FB;
}

.links {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.links a {
  font-family: var(--font-spectral);
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #EBF1FB;
  padding: 1.6rem 3.2rem;
}

.links a:hover {
  background: #5EEAD4;
  color: #0B0C0E;
  border-radius: 0.8rem;
  text-decoration-line: undeline;
}

.links .button {
  background: #5EEAD4;
  color: #0B0C0E;
  border-radius: 0.8rem;
  text-decoration-line: none;
}

.links .button:hover {
  color: #EBF1FB;
}

@media (max-width: 38.563rem) {
  main {
    padding-top: 17rem;
  }
}

@media (max-width: 26.875rem) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 25rem) {
  .content h1 {
    font-size: 4.2rem;
    line-height: 6.0rem;
    margin-bottom: 1rem;
  }

  .content p {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}